body {
	background-image:url("view.jpg");
}
h1 {
	text-align: center;
	color:#ffffff;
}
table, th, td {
	border :1px solid white;
	padding: 5;
	width: 800;
	border-collapse: collapse;
	margin-left: 14cm;
}
.alifio {
	text-align: center;
	background-color:yellow;
}
td {
	width: 200px;
	width: 400px;
	width: 200px;
	color:#f58d0f;
}
.alifio1 {
	color:#b83d5d;
}
.alifio2 {
	color:#8205f7;
}
.alifio3 {
	color:#d6764d;
}
p{
	font-family:century gothic;
	color:#c006d1;
	margin-left:2cm;
	margin-right:2cm;
	text-align: justify-all;
}
